<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${article.title}"></title>
</head>
<body>
<div>
    <h1>Update: [[${article.title}]]</h1>
    <a th:href="@{/article/{id}(id=${article.id})}">Back</a>
</div>
<hr>
<form th:action="@{/article/{id}/update(id=${article.id})}" method="post">
    <div>
        <label for="title-input" >Title</label>
        <input type="text" name="title" id="title-input" th:value="${article.title}">
    </div>
    <div>
        <label for="content-area" >Content</label>
        <textarea name="content" id="content-area" >[[${article.content}]]</textarea>
    </div>
    <div>
        <label for="writer-input" >Writer</label>
        <input readonly type="text" name="writer" id="writer-input" th:value="${article.writer}">
    </div>
    <input type="submit" value="Edit">
</form>


</body>
</html>