<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Write Article</title>
</head>
<body>
<div>
    <h1>Write Article</h1>
</div>
<hr>
<form action="/article" method="post">
    <div>
        <label for="title-input">Title</label>
        <input type="text" name="title" id="title-input">
    </div>
    <div>
        <label for="content-area">Content</label>
        <textarea name="content" id="content-area" ></textarea>
    </div>
    <div >
        <label for="writer-input">Writer</label>
        <input type="text" name="writer" id="writer-input">
    </div>
    <input type="submit" value="Write">
</form>
</body>
</html>